* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px; /* Adjust the negative margin as needed */
  margin-left: -15px; /* Adjust the spacing between items */
  margin-right: -15px; /* Adjust the spacing between items */
}

.item {
  flex-basis: calc(25% - 20px); /* Adjust the spacing between items */
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  border: 4px solid #2969F2;
  border-radius: 7px;
  margin-bottom: 20px; /* Adjust the spacing between items */
  margin-left: 10px; /* Adjust the spacing between items */
  margin-right: 10px; /* Adjust the spacing between items */
}

.item img {
  border: 1px solid black;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.item form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item .timer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
    h1 {
        font-family: 'Lato', sans-serif;
		font-size: 25px;
    }

    h2 {
        font-family: 'Lato', sans-serif;
    }

    .container {
        background-color: green;
        padding: 20px;
    }

    .notifications {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        line-height: 1.2;
        overflow: hidden;
    }

    .green {
        background-color: lightgreen;
    }

    .red {
        background-color: lightcoral;
    }

    .item-container::after {
        content: "";
        flex-basis: 25%;
        margin-bottom: 20px; /* Adjust the margin as needed */
    }
	.item-description {
    white-space: pre-line;
	}

    @media (max-width: 1200px) {
        .item {
            width: 33.33%;
        }
    }

    @media (max-width: 800px) {
        .item {
            width: 50%;
        }
    }

    @media (max-width: 600px) {
        .item {
            width: 100%;
        }
    }
